:root {
  --primary-color-text: #757575;
  --color-accent: #2196f3;
  --color-title: #212121;
  --bgc-dark: #2f303a;
  --bgc-light: #f5f4fa;
  --bgc-wight: #ffffff;
  --backdown-tipical: 94px;
  --card-set-gap: 30px;
  --time-transition: 250ms;

  --backdown-small: 60px;
}
