.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
  // text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;

  width: 100vw;
  height: 100vh;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__site-nav--link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  // margin-bottom: 32px;
  color: var(--color-title);

  transition: color var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
  &-current {
    color: var(--color-accent);
  }
}

.mob-menu__site-nav--item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contacts {
  margin-left: auto;
  margin-right: auto;
}

.mob-contact__link--tel {
  font-weight: 500;
  font-size: 30px;

  line-height: 1.18;

  letter-spacing: 0.02em;
  margin-bottom: 32px;

  color: var(--color-accent);

  transition: color var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }

  &:hover,
  &:focus {
    color: rgba(33, 149, 243, 0.6);
  }
}

.mob-contact__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
  margin-bottom: 64px;

  transition: color var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.mob__soc-list {
  display: flex;
  flex-wrap: wrap;

  color: var(--color-accent);

  &--item {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    height: 22px;
  }

  &--link {
    color: var(--color-accent);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    transition: color var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1),
      background-color var(--time-transition) cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
      font-size: 18px;
    }
  }
}
