.btn {
  background-color: var(--color-accent);
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 30px;

  color: #ffffff;
  cursor: pointer;

  transition: background-color var(--time-transition)
    cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgb(24, 140, 232);
  }
}
